<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
</head>
<body style="max-heig">
   <a href="/" class="btn btn-danger">Back</a>
        <h1 style="text-align: center;" class="p-3 font-weight-bold">{{maasa}} ಮಾಸ</h1>
        {% for object in object_list %}
        <form action="" method="POST">
        <div style="padding-left: 20%; padding-right: 20%;" class="">
            {% csrf_token %}
            <div class="row border">
                <div class="col">
                  <h3>{{object.paksha}}   ಪಕ್ಷ  {{object.thithi}}</h3>
                </div>
                <div class="col"> 
                    <input type="text" name="ma" value="{{object.id}}" hidden>
                  <input type="date" class="form-control" name="date" required>
                  <p>Recent update: {{object.pooja_day}}</p>
                </div>
                <div class="col">
                <button type="submit" style="text-align: center;" value="Submit" class="btn btn-warning">Submit</button>
                </div>
              </div>
              
        </div>
    </form>
        {%endfor%}
        <div class="row m-3">
            <form action="{% url 'data1:info' maasa%}" method="POST" class="row mr-3">
                {% csrf_token %}
                <input type="date" class="form-control col" name="s_date" required>
                <input type="date" class="form-control col" name="e_date" required>
                    <button type="submit" style="text-align: center;" value="Submit" class="btn btn-success">Go to website</button>
            </form>
            <form action="{% url 'data1:reference_pdf' maasa%}" method="POST" class="row mr-3">
                {% csrf_token %}
                <input type="date" class="form-control col" name="s_date" class="col" required>
                <input type="date" class="form-control col" name="e_date" class="col" required>
                    <button type="submit" style="text-align: center;" value="Submit" class="btn btn-dark col">Get pdf</button>
            </form>
            
            <form action="{% url 'data1:office_pdf' maasa%}" method="POST" class="row ">
                {% csrf_token %}
                <input type="date" class="form-control col" name="s_date" class="col" required>
                <input type="date" class="form-control col" name="e_date" class="col" required>
                <button type="submit" style="text-align: center;" value="Submit" class="btn btn-danger col">Official Copy</button>
        </div>
        </form>
    
</body>

</html>